
/*-- Navbar --*/

#navbar {
    font-family: "Open Sans", sans-serif;
    top: 0px;
    position: sticky;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 70px;
    list-style-type: none;
    overflow: hidden;
    /*background-color: whitesmoke;*/
    background-color: white;
    box-shadow: 0px 2px 4px gray;
    z-index: 10;
    font-weight: normal;
    font-size: 17px;
}

#navbar li :not(#title) {
    float: right;
    padding-left: 2%;
    padding-right: 2%;
    height: 100%;
    vertical-align: inherit;
}

#navbar a {
    display: block;
    color: #202121;
    text-align: center;
    height: 100%;
    line-height: 70px;
    text-decoration: none;
}

/*#navbar li:hover:not(.entry_active) {*/
#navbar li:hover {
    background-color: lightgray;
}

.entry_active {
    font-weight: bold;
}

#navbar #title {
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
    /*color: rgb(66, 140, 116);*/
    font-weight: bold;
    position: absolute;
    float: none;
    font-size: 22px;
}

@media screen and (max-width: 600px) {
    #navbar li:not(:first-child) {display: none;}
}