body {
  overflow-x: hidden;
}

#hp_content {
  left: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

/***********
  Top Banner
************/
#hp_content #hp_banner {
  position: static;
  width: 100%;
  height: 10vh;
  margin: 0px;
  z-index: 5;

  background-image: url("../img/banner2.jpg");
  background-position: center center;
  background-size: cover;

  overflow: hidden;

  /*background-attachment: fixed;*/
  color: snow;
}

#hp_content #hp_banner #banner_text {
  position: relative;
  top: 15vmin;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  font-family: "Laila", serif;
  width: 90%;
  font-weight: bold;
  z-index: 20;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

#hp_content #hp_banner i {
  font-size: 55px;
  position: absolute;
  left: 50vw;
  top: 100%;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  z-index: 20;
}

#hp_content #hp_banner i:hover {
  cursor: pointer;
}

#hp_content #hp_banner #banner_text span {
  display: inline-block;
  margin-right: 0.3em;
}

@media only screen and (min-width: 500px) {
  #hp_content #hp_banner {
    font-size: 40px;
  }
}
@media only screen and (max-width: 499px) {
  #hp_content #hp_banner {
    font-size: 8vw;
  }
}
@media only screen and (max-width: 600px) {
  #hp_content #hp_banner {
    background-attachment: initial;
  }
}

/***********
  Products
************/
#hp_content #hps_product {
  width: 100%;
  background-color: rgb(215, 235, 173);
  margin-top: 100px;
  padding-bottom: 50px;
}

#hp_content #hps_product .textsec {
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#hp_content #hps_product .textsec p {
  display: inline-block;
  margin-top: 0px !important;
}

#hp_content #hps_product .textsec h1 {
  float: left;
}

#hp_content #hps_product .textsec input {
  margin-top: 35px;
  width: 100px;
  height: 45px;
  margin-top: 0px;
  /*position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);*/
  border: none;
  background-color: lightgoldenrodyellow;
  outline: none;
  border-radius: 3px;
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  -webkit-transition: all .15s ease-in-out;
  -o-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}

#hp_content #cfback {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
#hp_content #hps_cardframe {
  /*height: 70vh;*/
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#hp_content #hps_product .textsec input:hover {
  cursor: pointer;
  /*transition: all 0.3s ease-in-out;*/
  -webkit-box-shadow: 0px 0px 2px 5px rgb(207,231,173);
          box-shadow: 0px 0px 2px 5px rgb(207,231,173);
}

@media only screen and (max-width: 600px) {
  #hp_content #hps_product .textsec h1 {
    float: none;
  }
  #hp_content #hps_product .textsec input {
    float: none;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

/***********
  PGS Quote
************/
#hp_content #pgs_quote {
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
}
#hp_content #pgs_quote q {
  font-size: 1.2em;
}
#hp_content #pgs_quote .source {
  margin-left: 1em;
  line-height: 3.5em;
}
#hp_content #pgs_quote .source abbr {
  text-decoration: none;
  border-bottom: none;
}

/***********
  Image Wall
************/
#hp_content #hp_img_wall_container {
  width: 100%;
  background-color: gainsboro;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hp_content #hp_img_wall {
  width: 90%;
  height: 74vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: inherit;
  position: relative;
}

/***********
  Map
************/
#hp_content #hps_where {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
}
#hp_content #hps_where .textsec {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
#hp_content #map {
  z-index: 1;
  display: block;
  width: 90vw;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

/***********
  Principles
************/

#hp_content #principle_frame {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /*background-color: powderblue;*/
  background-color: peru;
  /*background-color: rgb(203, 168,143);*/
}

#hp_content #principle_frame #principle_title {
  /*color: #222222;*/
  color: white;
  display: block;
  text-decoration: none;
  text-align: center;
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: bold;
}

#hp_content #principle_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: inherit;
}

#hp_content .principle {
  font-family: "Roboto", sans-serif;
  color: #222222;
  width: 250px;
  height: 390px;
  margin: 1vw;
  background-color: snow;
  border-radius: 2px;
  -webkit-box-shadow: 5px 7px 15px 2px rgb(103, 67, 32);
          box-shadow: 5px 7px 15px 2px rgb(103, 67, 32);
  -webkit-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#princ_health b, #princ_health .material-icons {
  color: yellowgreen !important;
}
#princ_eco b, #princ_eco .material-icons {
  color: olivedrab !important;
}
#princ_fair b, #princ_fair .material-icons {
  color: skyblue !important;
}
#princ_care b, #princ_care .material-icons {
  color: peru !important;
}
.principle .material-icons {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-size: 40px;
}

#hp_content .principle:hover {
  cursor: pointer;
  -webkit-box-shadow: 3px 4px 5px 2px rgb(103, 67, 32);
          box-shadow: 3px 4px 5px 2px rgb(103, 67, 32);
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;
}

#hp_content .principle h1 {
  font-weight: normal;
  font-size: 25px;
  text-align: center;
  margin-bottom: 30px;
}
#hp_content .principle .principle_box {
  position: relative;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  line-height: 140%;
  text-align: left;
}

@media only screen and (min-width: calc(4 * (250px + 2 * 1vw) + 20vw)) {
  #hp_content #principle_container {
    /*width: calc(4 * 250px + 4 * 2 * 20px);*/
    width: calc(4 * (250px + 2 * 20px));
  }
}
@media only screen and (max-width: calc(4 * (250px + 2 * 1vw) + 20vw - 1px)) and (min-width: calc(2 * (250px + 2 * 1vw) + 20vw)) {
  #hp_content #principle_container {
    width: calc(2 * (250px + 2 * 20px));
  }
}
@media only screen and (max-width: calc(2 * (250px + 2 * 1vw) + 20vw - 1px)) {
  #hp_content #principle_container {
    width: 90%;
  }
  #hp_content #principle {
    width: 100%;
  }
  #hp_content #principle h1 {
    margin-top: 40px;
  }
  #hp_content #principle .principle_box {
    margin-top: 40px;
    font-size: 18px;
  }
}

/***********
  Video
************/
#hp_content #vid_container_frame {
  margin-top: 50px;
  /*background-color: gainsboro;*/
  background-color: inherit;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
#hp_content #video_container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  overflow: hidden;
  width: 90vw;
  padding: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  border-radius: 10px;
}
#hp_content #video_container #player {
  display: relative;
  margin: 0px;
  bottom: 0px;
}

/***********
  Footer
************/
#hp_content .footer {
  width: 100%;
  height: 20vh;
  margin: 0px;
  background-color: snow;
  border-top: solid;
  border-color: #55555555;
  border-width: 2px;
}