
#hps_product {
  width: 100%;
  background-color: rgb(215, 235, 173);
  margin-top: 100px;
  padding-bottom: 50px;
}

#hps_product .textsec {
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#hps_product .textsec h1 {
  float: left;
}

#hps_product .textsec input {
  float: right;
  margin-top: 35px;
  width: 100px;
  height: 45px;
  border: none;
  background-color: lightgoldenrodyellow;
  outline: none;
  border: 0px;
  border-radius: 3px;
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transition: all .15s ease-in-out;
}

#hps_product .textsec input:hover {
  cursor: pointer;
  /*transition: all 0.3s ease-in-out;*/
  box-shadow: 0px 0px 2px 5px rgb(207,231,173);
}

@media only screen and (max-width: 600px) {
  #hps_product .textsec h1 {
    float: none;
  }
  #hps_product .textsec input {
    float: none;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

#cfback {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

#hps_cardframe {
  /*height: 70vh;*/
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#wallcontainer {
  width: 100%;
  background-color: gainsboro;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 0px;
}
#wallcontainer #hpimgwall {
  width: 90%;
  height: 80vh;
  background-color: inherit;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}
.parcel {
  position: relative;
  background-color: gray;
  opacity: 1;
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-size: 0;
}
.parcel .first {
  opacity: 1;
  background-size: cover;
  background-position: center center;
  background-color: ivory;
  transition: opacity 1s ease-in-out;
}
.parcel .second {
  opacity: 0;
  background-size: cover;
  background-position: center center;
  background-color: lightgoldenrodyellow;
  transition: opacity 1s ease-in-out;
}

#hp_img_wall_container {
  width: 100%;
  background-color: gainsboro;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hp_img_wall {
  width: 90%;
  height: 74vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: inherit;
  position: relative;
}

#hps_where {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
}
#hps_where .textsec {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
#map {
  z-index: 1;
  display: block;
  width: 90vw;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

#video_container {
  margin-top: 200px;
}

.banner {
  position: relative;
  width: 100%;
  height: 10vh;

  background-image: url("../img/banner2.jpg");
  background-position: center bottom;
  background-size: cover;

  background-attachment: fixed;
  color: snow;
}

.banner #banner_text {
  position: absolute;
  /*top: 17%;*/
  top: 15vmin;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  font-family: "Laila", serif;
  width: 90%;
  font-weight: bold;
}

.banner i {
  font-size: 55px;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
}

.banner i:hover {
  cursor: pointer;
}

.banner #banner_text span {
  display: inline-block;
  margin-right: 0.3em;
}

#pgs_quote {
  margin-top: 150px;
  margin-bottom: 150px;
}
#pgs_quote .source {
  margin-left: 1em;
}
#pgs_quote .source abbr {
  text-decoration: none;
  border-bottom: none;
}

@media only screen and (min-width: 500px) {
  .banner {
    font-size: 40px;
  }
}
@media only screen and (max-width: 499px) {
  .banner {
    font-size: 8vw;
  }
}
@media only screen and (max-width: 600px) {
  .banner {
    background-attachment: initial;
  }
}

#id {
  width: 90vw;
  margin-left: 0px;
  margin-right: 0px;
  padding: 0px;
  overflow: hidden;
}

.footer {
  width: 100%;
  height: 20vh;
  margin-top: 20vh;
  background-color: snow;
  border-top: solid;
  border-color: #55555555;
  border-width: 2px;
}