body {
  overflow-x: hidden;
}

#hp_content {
  left: 0px;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 100vw;
  overflow: hidden;
}

/***********
  Top Banner
************/
#hp_banner {
  position: relative;
  width: 100%;
  height: 10vh;

  background-image: url("../img/banner2.jpg");
  background-position: center center;
  background-size: cover;

  /*background-attachment: fixed;*/
  color: snow;
}

#hp_banner #banner_text {
  position: absolute;
  top: 15vmin;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  font-family: "Laila", serif;
  width: 90%;
  font-weight: bold;
  z-index: 20;
  transition: opacity .3s ease;
}

#hp_banner i {
  font-size: 55px;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%) translateY(-100%);
  -ms-transform: translateX(-50%) translateY(-100%);
  transform: translateX(-50%) translateY(-100%);
  z-index: 20;
}

#hp_banner i:hover {
  cursor: pointer;
}

#hp_banner #banner_text span {
  display: inline-block;
  margin-right: 0.3em;
}

@media only screen and (min-width: 500px) {
  #hp_banner {
    font-size: 40px;
  }
}
@media only screen and (max-width: 499px) {
  #hp_banner {
    font-size: 8vw;
  }
}
@media only screen and (max-width: 600px) {
  #hp_banner {
    background-attachment: initial;
  }
}

/***********
  Products
************/
#hps_product {
  width: 100%;
  background-color: rgb(215, 235, 173);
  margin-top: 100px;
  padding-bottom: 50px;
}

#hps_product .textsec {
  margin-bottom: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
}

#hps_product .textsec h1 {
  float: left;
}

#hps_product .textsec input {
  float: right;
  margin-top: 35px;
  width: 100px;
  height: 45px;
  border: none;
  background-color: lightgoldenrodyellow;
  outline: none;
  border: 0px;
  border-radius: 3px;
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  transition: all .15s ease-in-out;
}

#cfback {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  
}
#hps_cardframe {
  /*height: 70vh;*/
  width: 100%;
  height: 400px;
  overflow: hidden;
}

#hps_product .textsec input:hover {
  cursor: pointer;
  /*transition: all 0.3s ease-in-out;*/
  box-shadow: 0px 0px 2px 5px rgb(207,231,173);
}

@media only screen and (max-width: 600px) {
  #hps_product .textsec h1 {
    float: none;
  }
  #hps_product .textsec input {
    float: none;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
  }
}

/***********
  PGS Quote
************/
#pgs_quote {
  margin-top: 150px;
  margin-bottom: 150px;
}
#pgs_quote .source {
  margin-left: 1em;
}
#pgs_quote .source abbr {
  text-decoration: none;
  border-bottom: none;
}

/***********
  Image Wall
************/
#hp_img_wall_container {
  width: 100%;
  background-color: gainsboro;
  padding-top: 20px;
  padding-bottom: 20px;
}

#hp_img_wall {
  width: 90%;
  height: 74vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: inherit;
  position: relative;
}

/***********
  Map
************/
#hps_where {
  width: 100%;
  height: auto;
  background-color: whitesmoke;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
}
#hps_where .textsec {
  margin-top: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
#map {
  z-index: 1;
  display: block;
  width: 90vw;
  height: 85vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
}

/***********
  Principles
************/

#principle_frame {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  /*background-color: powderblue;*/
  background-color: peru;
  /*background-color: rgb(203, 168,143);*/
}

#principle_frame #principle_title {
  color: #222222;
  text-align: center;
}

#principle_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  /*max-width: 90vw;*/
  align-items: center;
  justify-content: center;
  background-color: inherit;
}

#principle {
  font-family: "Roboto", sans-serif;
  color: #222222;
  width: 250px;
  height: 300px;
  margin: 1vw;
  background-color: snow;
  border-radius: 2px;
  box-shadow: 5px 7px 15px 2px rgb(103, 67, 32);
}

#principle h1 {
  font-weight: normal;
  font-size: 25px;
  text-align: center;
}
#principle h1 b {
  color: olivedrab;
}
#principle .principle_box {
  position: relative;
  display: block;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 18px;
  line-height: 140%;
  text-align: left;
}

@media only screen and (min-width: calc(4 * (250px + 2 * 1vw) + 20vw)) {
  #principle_container {
    /*width: calc(4 * 250px + 4 * 2 * 20px);*/
    width: calc(4 * (250px + 2 * 20px));
  }
}
@media only screen and (max-width: calc(4 * (250px + 2 * 1vw) + 20vw - 1px)) and (min-width: calc(2 * (250px + 2 * 1vw) + 20vw)) {
  #principle_container {
    width: calc(2 * (250px + 2 * 20px));
  }
}
@media only screen and (max-width: calc(2 * (250px + 2 * 1vw) + 20vw - 1px)) {
  #principle_container {
    width: 90%;
  }
  #principle {
    width: 100%;
  }
  #principle h1 {
    margin-top: 40px;
  }
  #principle .principle_box {
    margin-top: 40px;
    font-size: 18px;
  }
}

/***********
  Video
************/
#vid_container_frame {
  margin-top: 50px;
  /*background-color: gainsboro;*/
  background-color: inherit;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}
#video_container {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  overflow: hidden;
  width: 90vw;
  padding: 0px;
  border-style: solid;
  border-width: 0px;
  border-color: black;
  border-radius: 10px;
}
#video_container #player {
  display: relative;
  margin: 0px;
  bottom: 0px;
}

/***********
  Footer
************/
.footer {
  width: 100%;
  height: 20vh;
  margin: 0px;
  background-color: snow;
  border-top: solid;
  border-color: #55555555;
  border-width: 2px;
}