.pr_frame {
    padding: 0px;
    border-width: 0px;
    display: block;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* Big Screen */
@media only screen and (min-width: 478px) {
    .card_container {
        width: 200px;
        height: 260px;
    }

    .front .pr_textbox p {
        font-size: 25px;
    }

    .back p {
        font-size: 16px;
    }
}

/* Small Screen */
@media only screen and (max-width: 477px) {
    .card_container {
        width: 42vw;
        height: 54.5vw;
    }

    .front .pr_textbox p {
        font-size: 5.25vw;
    }

    .back p {
        font-size: 3.35vw;
    }
}

/* Aspect Ratio 10:13 */
.card_container {
    -webkit-perspective: 1000px;
            perspective: 1000px;
     /* Card Spacing */
     margin: 7px;
     display: inline-block;
}

.card {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: snow;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;

	-webkit-transition: 0.6s;

	-o-transition: 0.6s;

	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	        transform-style: preserve-3d;

	position: relative;
}

.card_container:hover .card, .card_container.hover .card, .card_container.flip .card {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.front, .back {
    width: 100%;
    height: 100%;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	z-index: 2;
	/* for firefox 31 */
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
}

.front img {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
    z-index: 3;
}

.front .pr_textbox {
    margin: 0px;
    padding: 0px;
    height: 60px;
    max-height: 23.08%;

    background: rgba(150, 150, 150, 0.78);
    z-index: 4;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
}

/* Card Front Title */
.front .pr_textbox p {
    margin: 0px;
    /*color: #64686a;*/
    color: whitesmoke;
    /*font-size: 25px;*/
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}

.back p {
    color: #202121;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-51%);
        -ms-transform: translateY(-51%);
            transform: translateY(-51%); 
}