

html {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

body {
  margin: 0px;
  font-size: 16px;
  font-weight: normal;
}

/*---------*/
/* Textsec */
/*---------*/

.textsec {
  color: #555555;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 1.6;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: .5em;
  padding-right: .5em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  max-width: 40em;
}

.textsec h1 {
  font-size: 1.8em;
}

.textsec hr {
  /*margin-top: 0px;*/
  margin-top: -20px;
  margin-bottom: 25px;
  height: 2px;
  background-color: #555555;
  width: 12%;
  margin-left: 0px;
}

@media only screen and (max-width: 600px) {
  .textsec {
    max-width: 30em;
  }

  .textsec center {
    text-align: left;
  }

  .textsec h1 {
    text-align: center;
  }
}