#topnav {
    position: sticky;
    top: 0px;
    z-index: 20;
    margin: 0px;

    width: 80%;
    height: 100px;
    margin-left: auto;
    margin-right: auto;

    background-color: pink;
    list-style-type: none;
}

#topnav .tab {
    float: right;
    height: 100%;
    padding-left: 2em;
    padding-right: 2em;

    display: table;

    border-style: solid;
    border-width: 1px;
    border-color: white;
}

#topnav .logo {
    float: left;
    height: 100%;
    padding: 0px;

    border-style: solid;
    border-width: 1px;
    border-color: white;
}
/*
#topnav .logo canvas {
    height: 100px;
    width: 100px;
}*/

/* Tab Text */
#topnav .tab a {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    font-size: 20px;
    color: darkslategray;

    display: table-cell; 
    vertical-align: middle;
}
